*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
# add 2016 11 01 Kenta Fukaya
# to ignore noadd_*
app/src/main/assets/* 
app/src/main/res/drawable/*
